<% @products.each do |item| %>
  <a>
    <strong>Name:</strong> <%= item.name %><br>
    <strong>Code:</strong> <%= item.code %>
    <strong>Price:</strong> <%= item.price %>
  </a><br>
    <br>
<% end %>